/* Style dla wszystkich urządzeń */
.menu-icon{
  display:none;
}
body {
  text-align: center;
  font-family: Arial, sans-serif;
  padding: 0;
  display: block;
  position:flex;
  margin: 0;
  align-items: center;
}

header {
  background-color: #f2f2f2;
  color: #fff;
  padding: 10px;
  text-align: center;
}

.logo {
  width: 50%;
  height: auto;
}

nav {
  background-color: #535353;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
}

nav ul li a {
  color: #fff;
  padding: 10px;
  text-decoration: none;
}

a {
  text-decoration:solid;
  color: black;
}

/* Style dla urządzeń mobilnych */
@media only screen and (max-width: 600px) {
nav {
  display: none;
  position: absolute;
  top: 40px;
  left: 0;
  background-color: #333;
  width: 100%;
}

nav ul li {
  display: block;
  text-align: center;
}

nav ul li a {
  display: block;
  padding: 10px;
  border-bottom: 1px solid #fff;
}

.menu-icon{
  display: block;
  background-color: #333;
  color: #fff;
  text-align: right;
  padding: 10px;
}
}

/* Style dla rozwijanych banerów */
.banner p {
display: none;
}
p{
margin: 30px;
}
.banner {
background-color: #f2f2f2;
padding: 20px;
text-align: center;
overflow: hidden;
height: 50px;
transition: height 0.3s ease-in-out;
width: 90%;
margin: auto;
align-items: center;
}

.banner:hover {
height: 150px;
background-color: #777;
width: 90%;
}
.banner:hover p{
display: block;
}

.banner h2 {
margin: 0;
padding: 0;
}

.banner p {
margin: 10px 0 0 0;
padding: 0;
}